@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
  font-weight: bold;
}
html {
  font-size: 18px;
}

body {
  font-family: Gilroy;
}

button {
  cursor: pointer;
}
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
}
a:hover {
  color: #999999;
}

.container {
  width: 1440px;
  margin: 0 auto;
  max-width: calc(100% - 80px);
}

a {
  color: black;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 34px 35px 80px;
}
.header__navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}
.header__navmenu a {
  padding-left: 31px;
}
.header__button {
  border: 1px solid #F7941E;
  border-radius: 5px;
  padding: 13px 25px 13px 24px;
  color: #F7941E;
  background-color: #fff;
}
.header__button:hover {
  color: #F1F1F2;
  background-color: #F7941E;
}
.header__button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.preview {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0em 0em;
  grid-template-areas: ". ." ". .";
}
.preview__box img {
  width: 100%;
}
.preview__box_top-text {
  background-color: #F1F1F2;
  padding: 150px 126px 131px 159px;
}
.preview__box_bottom-text {
  padding: 164px 166px 104px 104px;
  text-align: justify;
  background-color: #F1F1F2;
}
.preview__box h1 {
  font-size: 56px;
  margin: 0;
}
.preview__box div {
  font-size: 20px;
  padding-top: 23px;
}
.preview__box h3 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}
.preview__box_img {
  display: none;
}
.preview__btn_filled {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #F7941E;
  margin-top: 52px;
  border: 0;
}
.preview__btn_filled:hover {
  color: #F7941E;
  background-color: #F1F1F2;
  border: 1px solid #F7941E;
  padding-top: 18px;
}
.preview__btn_filled:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.preview__btn_non-filled {
  margin-top: 35px;
  color: #F7941E;
  background-color: #F1F1F2;
  border: 1px solid #F7941E;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 21px 46px;
}
.preview__btn_non-filled:hover {
  color: #F1F1F2;
  background-color: #F7941E;
  padding-top: 20px;
}
.preview__btn_non-filled:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.standart-block {
  padding: 96px 135px 137px 135px;
  text-align: center;
}
.standart-block__title {
  font-size: 32px;
  padding-bottom: 23px;
}
.standart-block__small {
  font-size: 18px;
  padding-bottom: 64px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0em 1%;
  grid-template-areas: ". . . .";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.cards__card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.cards__card_bottom {
  text-align: left;
  padding: 24px 0 24px 24px;
  background-color: #FAFAFA;
  font-size: 20px;
}
.cards__card-more {
  font-size: 14px;
  padding-top: 74px;
}
.cards__card img {
  width: 100%;
}

.orange-area {
  padding: 81px 235px 69px 235px;
  background-color: #F7941E;
}
.orange-area__text {
  font-size: 32px;
}
.orange-area__btn {
  padding: 18px 32px;
  color: #fff;
  background-color: black;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
}
.orange-area__btn:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
  padding-top: 16px;
}
.orange-area__btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.orange-area__btn_o {
  padding: 16px 32px;
  border-radius: 5px;
  color: black;
  background-color: #F7941E;
  text-transform: uppercase;
  margin-left: 16px;
  border: 1px solid black;
}
.orange-area__btn_o:hover {
  color: black;
  background-color: #fff;
  padding-top: 16px;
}
.orange-area__btn_o:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.orange-area__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0em 0%;
  grid-template-areas: "asd asd" ". .";
}
.blog-card {
  padding: 48px 48px 50px 48px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}
.blog-card:first-child {
  margin-right: 15px;
}
.blog-card:last-child {
  margin-left: 15px;
}
.blog-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.blog-card__title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 25px;
}
.blog-card__desc {
  font-size: 18px;
  padding-bottom: 50px;
}
.blog-card-black {
  grid-area: asd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.blog-card-black:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.blog-card-black img {
  max-height: 100%;
}
.blog-card-black__text-wrapper {
  padding: 63px 11% 49px 78px;
}
.blog-card-black__author {
  font-size: 14px;
}
.blog-card-black__title {
  font-size: 48px;
  padding: 27px 0 60px;
}
.blog-card-black__more {
  font-size: 18px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper {
  width: 1000px;
  max-width: calc(100% - 80px);
  text-align: center;
  margin: 0 auto;
}
.footer__navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__separator {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 43px 0 55px 0;
}
.footer__medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 296px;
  margin: 0 auto;
}

.copyright {
  font-size: 14px;
  padding: 72px 0 35px 0;
}

@media screen and (max-width: 1430px) {
  .preview__box_top-text {
    padding: 100px 56px 81px 109px;
  }
  .preview__box_top-text h1 {
    font-size: 44px;
  }
  .preview__box_bottom-text {
    padding: 100px 116px 54px 54px;
  }

  .orange-area {
    padding: 81px 100px 69px 100px;
  }
}
@media screen and (max-width: 1140px) {
  .preview__box_top-text {
    padding: 80px 56px 62px 89px;
  }
  .preview__box_bottom-text {
    padding: 50px 96px 34px 34px;
  }

  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ".." "..";
    gap: 5% 5%;
  }

  .orange-area {
    margin-top: 100px;
    padding: 81px 0px 69px 0px;
  }

  .standart-block {
    padding: 100px 20px;
  }
}
@media screen and (max-width: 1062px) {
  .preview__box_top-text {
    padding: 80px 56px 62px 89px;
  }
  .preview__box_top-text button {
    margin-top: 30px;
  }
  .preview__box_bottom-text {
    padding: 50px 96px 34px 34px;
  }
  .preview__box_bottom-text div {
    font-size: 18px;
  }
}
@media screen and (max-width: 960px) {
  .preview__box_top-text {
    padding: 35px 56px 62px 59px;
  }
  .preview__box_top-text h1 {
    font-size: 30px;
  }
  .preview__box_bottom-text {
    padding: 30px 20px 34px 20px;
  }
  .preview__box_bottom-text div {
    font-size: 14px;
  }
  .preview__box button {
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 10px;
  }

  .orange-area {
    padding: 50px 0 50px 0;
  }
  .orange-area__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .orange-area__btns {
    margin-top: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .blog-card-black img {
    display: none;
  }
  .blog-card-black__text-wrapper {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 36px 20px;
  }
  .header button {
    padding: 7px 10px;
    font-size: 13px;
  }

  .preview {
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0em 0em;
    grid-template-areas: "." "." ".";
  }
  .preview__box_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
  }
  .preview__box_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .preview__box_hidden {
    display: none;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .cards__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 30px;
  }
  .cards__card img {
    width: 100%;
  }
  .cards__card_bottom {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .cards__card-more {
    position: absolute;
    padding: 0 10px 10px 0;
    bottom: 0;
    right: 0;
  }

  .blog-card {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 576px) {
  .header__navmenu a {
    padding-left: 15px;
  }

  .header button {
    display: none;
  }

  .container {
    max-width: 100%;
    margin: 0;
  }

  .preview__box_top-text, .preview__box_bottom-text {
    padding: 10px 18px;
  }
  .preview__box_top-text button, .preview__box_bottom-text button {
    padding: 5px 10px;
    font-size: 10px;
  }

  .blog-card-black__title {
    font-size: 30px;
  }

  .orange-area {
    margin-top: 15px;
  }
  .orange-area button {
    padding: 10px 17px;
    font-size: 13px;
  }
}
